<!-- 1. Tiêu đề trang -->
<h3 class="text-center">TRANG XEM CHI TIẾT</h3>

<!-- 2. Form nhập liệu -->
<form >
    <div class="d-flex">
        <div class="container">
            <!-- Khu vực id -->
            <div class="mt-3">
                <span class="form-label">ID:</span>
                <input class="form-control" type="text" ng-model="donHang.id" disabled>
            </div>
        
            <!-- Khu vực tên -->
            <div class="mt-3">
                <span class="form-label">Tên sản phẩm:</span>
                <input class="form-control" type="text" ng-model="donHang.ten" disabled>
            </div>
        
            <!-- Khu vực ảnh -->
            <div class="mt-3">
                <span class="form-label">Ảnh:</span>
                <input class="form-control" type="text" ng-model="donHang.anh" disabled>
            </div>
        
            <!-- Khu vực giá -->
            <div class="mt-3">
                <span class="form-label">Giá:</span>
                <input class="form-control" type="text" ng-model="donHang.gia" disabled>
            </div>

             <!-- Khu vực Số lượng -->
             <div class="mt-3">
                <span class="form-label">Số lượng:</span>
                <input class="form-control" type="text" ng-model="donHang.soLuong" disabled>
            </div>

            <!-- Khu vực Tổng Tiền -->
            <div class="mt-3">
                <span class="form-label">Tổng tiền:</span>
                <input class="form-control" type="text" ng-model="donHang.tongTien" disabled>
            </div>
        
        </div>
        
        <div class="container">
            <!-- Khu vực Khách hàng -->
        <div class="mt-3">
            <span class="form-label">Khách Hàng:</span>
            <input class="form-control" type="text" ng-model="donHang.ten" disabled>
        </div>
        <!-- Khu vực email -->
        <div class="mt-3">
            <span class="form-label">Email:</span>
            <input class="form-control" type="text" ng-model="donHang.email" disabled>
        </div>
    
        <!-- Khu vực SĐT -->
        <div class="mt-3">
            <span class="form-label">SĐT:</span>
            <input class="form-control" type="text" ng-model="donHang.sdt" disabled>
        </div>
        <!-- Khu vực Địa chỉ -->
        <div class="mt-3">
            <span class="form-label">Địa Chỉ:</span>
            <input class="form-control" type="text" ng-model="donHang.diaChi" disabled>
        </div>
    
        <!-- Khu vực Ghi chú -->
        <div class="mt-3">
            <span class="form-label">Ghi Chú:</span>
            <textarea class="form-control" name="" id="" cols="30" rows="5" ng-model="donHang.ghiChu" disabled></textarea>
            
        </div>
    
        <!-- Khu vực trạng thái -->
        <div class="mt-3">
            <span class="form-label">Trạng Thái:</span>
            <input class="form-control" type="text" ng-model="donHang.trangThai" disabled>
        </div>
    
        </div>
    </div>
    
    

    <!-- Khu vực button submit -->
    <div class="mt-5 text-center">
        <a href="#!/donhang" class="btn btn-secondary">Quay Lại</a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">Xóa</button>
    </div>

    <!-- Khu vực thông báo lỗi -->
    <div class="alert alert-danger mt-3" ng-if="validateForm.trangThai === false">
        <strong>Form không hợp lệ!</strong>
        <br>
        {{validateForm.noiDung}}
    </div>


    <!-- Khu vực modal xác nhận xóa -->
    <!-- 1. Đổi sự kiện button Open modal sang button xóa -->
    <!-- 2. Đổi nội dung modal -->
  
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Xác nhận xóa</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
    
                <!-- Modal body -->
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa <strong>"{{donHang.ten}}"</strong> không?
                </div>
    
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn btn-danger" ng-click="onClickButtonXacNhanXoa()">Xác nhận xóa</button>
                </div>
    
            </div>
        </div>
    </div>

</form>