
<body ng-app="myApp">
    <div class="d-flex">
        <div class="" style="width: calc(100% - 150px);" ng-controller="dhProductCtrl">
            <div class="container mt-3">

                <h3 class="text-center">DANH SÁCH ĐƠN HÀNG</h3>
                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Khách hàng</th>
                            <th>email</th>
                            <th>SĐT</th>
                            <th>Trạng thái</th>
                            <th>Tương tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in danhSachDonHang track by $index">
                            <td>{{item.id}}</td>
                            <td>

                                <div style="height: 60px; width: 60px;" class="border rounded bg-light overflow-hidden 
                    d-flex justify-content-center align-items-center">
                                    <img class="mh-100 mw-100" ng-src="{{item.anh}}" alt="">
                                </div>
                            </td>
                            <td>{{item.ten}}</td>
                            <td>{{item.gia}}</td>
                            <td>{{item.soLuong}}</td>
                            <td>{{item.tenKH}}</td>
                            <td>{{item.email}}</td>
                            <td>{{item.sdt}}</td>
                            <td>                                
                                <span class="badge bg-success rounded-pill">{{item.trangThai}}</span>
                            </td>
                            <td style="width: 1px;" class="text-nowrap">
                                <a href="#!/donhang/detail/{{item.id}}" class="btn btn-primary">Xem</a>
                                <a href="#!/donhang/edit/{{item.id}}" class="btn btn-warning">Sửa TT</a>
                                <button class="btn btn-danger" ng-click="xoaSanPham(item.id)">Xóa</button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</body>

</html>