
<body ng-app="myApp">
    
    <div class="container mt-4" style="min-height: calc(100vh - 123px);" ng-controller="aoSoMiProductCtrl">
        
        <!-- Product -->
        <div>
    <div class="row m-5">
        <h1 class="text-center">ÁO SƠ MI</h1>
        <div class="container d-flex">
            <h3 class="m-3">BỘ LỌC</h3>
            <select class="m-3" name="" id="">
                <option value="0" >size</option>
                <option value="1" >XL</option>
                <option value="2" >L</option>
                <option value="3" >M</option>
                <option value="4" >S</option>
            </select>
            <select class="m-3" ng-model="selectSort">
                <option value="" >Khoảng giá</option>
                <option value="+gia" >Tăng dần</option>
                <option value="-gia">Giảm dần</option>
            </select>
        </div>
        <div class="col-3 shadow" ng-repeat="item in sanPhamAoSoMi | orderBy: selectSort | filter:{tenDanhMuc:'DM01'} ">
            <div class="border-top overflow-hidden mt-3 mb-3">
                <div class=" border-bottom d-flex align-items-center justify-content-center" style="height: 460px;">
                    <img class="mh-100 mw-100" ng-src="{{item.anh}}" alt="">
                </div>

                <div class="m">
                    <h1 class="h5" style="height: 48px;"><b>{{item.ten}}</b></h1>
                    <div class="d-flex justify-content-around">
                        <!-- Giá niêm yết -->
                    <div class="text-decoration-line-through text-danger">500,000đ</div>
                    <!-- giá bán -->
                    <div>{{item.gia}}đ</div>
                    </div>
                    <div class="mt-5 d-flex justify-content-between"> 
                        <a class="btn btn-dark w-80 rounded-0" href="#!/view/chitietsp/{{item.id}}">Xem Chi Tiết</a>                   
                        <button class="btn btn-dark w-80 rounded-0"><a class="btn btn-dark" href="thanhtoan.html">Mua Ngay</a></button>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>

</div>

</body>
